body {
  background: rgb(53, 51, 51);
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: center;
  border: 1px solid yellow;
}
    
/* Style the links inside the navigation bar */
.topnav a {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:rgb(200, 250, 202);
}

.topnav ul {
  list-style-type: none;
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(255, 0, 0);
}
    
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
    
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  color: rgb(200, 250, 202);
  text-align: center;
}

@media (max-width: 768px){
  h1 {
      font-size: 2em;
  }
  nav ul {
      flex-direction: column;
      align-items: center;
  }

}
@media (max-width: 576px){
  h1 {
      font-size: 1em;
  }
}