* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* list-style: none; */
  box-sizing: border-box;
  font-family: "Google Sans Regular", sans-serif;
}

body {
  background: #1b263b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100%;
  height: 80px;
  background: #1b263b;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* justify-content: space-between; */
}

.hamburger {
  display: none;
}

.topnav {
  width: fit-content;
  /* position: absolute;
  left: 50%; */
}

.topnav ul {
  display: flex;
  list-style-type: none;
  width: fit-content;
}

.topnav ul li a {
  display: block;
  color:rgb(200, 250, 202);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  transition: 0.3s;
  margin: 0 5px;
}
   
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 15px 8px;
}
    
/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(0, 172, 6);
  opacity: 0.85;
  color: white;
}

h1 {
  display: inline-block;
  color: rgb(200, 250, 202);
  text-align: center;
}

@media (max-width: 1320px){
  header {
    padding: 0 50px;
}

@media (max-width: 1100px){
  header {
    padding: 0 30px;
}

@media (max-width: 768px){
  h1 {
      font-size: 2em;
}

@media (max-width: 900px){
  .hamburger {
    display: block;
    position: absolute;
    right: 8px;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background:rgb(200, 250, 202);
    margin: 6px 0;
  }
  .topnav {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 0;
    width: fit-content;
    padding: 0 5px;
    background:rgb(0, 138, 143);
    border-radius: 25px;
    transition: 0.5s;
    overflow: hidden;
]  }

  .topnav.active {
    height: 330px;

  }

  .topnav ul {
    display: block;
    width: fit-content;
    margin: 65px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  
  }



  .topnav ul li a {
    margin-bottom: 12px;
    color:rgb(41, 46, 41);
  }
}